In [3]:
import pandas as pd

In [8]:
df1=pd.read_excel("/content/Opt1.xlsx")

In [13]:
df=df1.iloc[1:]

In [15]:
df.columns

Index(['f(GHz)', 'eps_r', 'h', 'Wf', 'Wg1', 'Wg2', 'Wg3', 'Lg1', 'Lg2', 'Lp1',
       'Lp2', 'Lp3', 'Lpd', 'Wp1', 'Wp2', 'Wp3', 'GAIN (in dB)',
       'RESONANCE FREQ 1(in GHz)', 'BANDWIDTH1 (in MHz)', 'TOTAL BANDWIDTH'],
      dtype='object')

In [16]:
y = df['GAIN (in dB)'].values
X = df.drop(['GAIN (in dB)'], axis=1)
X.head(1)

,f(GHz),eps_r,h,Wf,Wg1,Wg2,Wg3,Lg1,Lg2,Lp1,Lp2,Lp3,Lpd,Wp1,Wp2,Wp3,RESONANCE FREQ 1(in GHz),BANDWIDTH1 (in MHz),TOTAL BANDWIDTH
1,2.4,4.4,1.6,3,10.6,4,1,8,1,1,7,6.5,0.8,2.5,2.5,5,2.7,3.689,3.689

In [21]:
y

array([4.1545, 4.2772, 4.5859, 4.6558, 1.5469, 5.1142, 4.8079, 4.846 ,
       4.626 ])

In [18]:
from sklearn.model_selection import train_test_split

In [23]:
...
# split into train test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=1)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(6, 19) (3, 19) (6,) (3,)

In [25]:
from sklearn.linear_model import LinearRegression
lr_reg=LinearRegression().fit(X_train, y_train)

y_pred = lr_reg.predict(X_test)
lr_test_predictions = [round(value) for value in y_pred]
y_pred = lr_reg.predict(X_train)
lr_train_predictions = [round(value) for value in y_pred]

In [28]:
from sklearn.metrics import mean_absolute_error

In [26]:
train_mape=[]
test_mape=[]

In [29]:
train_mape.append((mean_absolute_error(y_train, lr_train_predictions))/(sum(y_train)/len(y_train)))
test_mape.append((mean_absolute_error(y_test, lr_test_predictions))/(sum(y_test)/len(y_test)))

In [30]:
print ("Error Metric Matrix (Tree Based Regression Methods) -  MAPE")
print ("--------------------------------------------------------------------------------------------------------")

print ("Linear Regression -                         Train: ",train_mape[0],"      Test: ",test_mape[0])

print ("--------------------------------------------------------------------------------------------------------")

Error Metric Matrix (Tree Based Regression Methods) -  MAPE
--------------------------------------------------------------------------------------------------------
Linear Regression -                         Train:  0.20111731843575423       Test:  0.1001440819412545
--------------------------------------------------------------------------------------------------------